<% content_for :title, 'Sign in' %>
<h1><%= yield :title %></h1>
<p>Sign in using one of the following identity services:</p>
<ul>
  <li>
    <%= link_to '/auth/discord', class: 'button discord' do %>
    <i class="fab fa-discord"></i>
    Discord
    <% end %>
  </li>
  <li>
    <%= link_to '/auth/facebook', class: 'button facebook' do %>
    <i class="fab fa-facebook"></i>
    Facebook
    <% end %>
  </li>
  <li>
    <%= link_to '/auth/google', class: 'button google' do %>
    <i class="fab fa-google"></i>
    Google
    <% end %>
  </li>
</ul>
