<li>
  <%= registration.user.name %>
  (<%= registration.user.email %>)
  <% if registration.user == current_user %>
  <%= button_to registration, method: :delete, class: 'button small', data: { confirm: %(Leaving this event will destroy all associated data and cannot be recovered. Are you sure?) } do %>
    <i class="far fa-times"></i>
    Leave event
  <% end %>
  <% end %>
</li>
